In [26]:
import json
import pandas as pd
from pathlib import Path

In [27]:
# Listar archivos JSON en data/raw
RAW_DATA_DIR = Path("../data/raw")
raw_files = sorted(RAW_DATA_DIR.glob("*.json"))
raw_files[-5:]

[PosixPath('../data/raw/ebird_US_20250925_205039.json'),
 PosixPath('../data/raw/ebird_US_20250925_205047.json')]

In [28]:
# Tomar el último archivo crudo
latest_file = raw_files[-1]
print(f"Usando archivo: {latest_file}")
with open(latest_file, "r", encoding="utf-8") as f:
    raw_data = json.load(f)
df = pd.DataFrame(raw_data)

Usando archivo: ../data/raw/ebird_US_20250925_205047.json

In [29]:
NOTEBOOK_DIR = Path().resolve()
BASE_DIR = NOTEBOOK_DIR.parent
RAW_DATA_DIR = BASE_DIR / "data" / "raw"

In [30]:
# Primeras filas
df.head(5)

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId,exoticCategory
0,eursta,Estornino Pinto,Sturnus vulgaris,L51167893,Home (BackYard/Park),2025-09-25 22:29,10.0,46.166141,-123.016334,True,False,True,S275428083,N
1,amecro,Cuervo Americano,Corvus brachyrhynchos,L51167893,Home (BackYard/Park),2025-09-25 22:29,2.0,46.166141,-123.016334,True,False,True,S275428083,NaN
2,houfin,Camachuelo Mexicano,Haemorhous mexicanus,L51167893,Home (BackYard/Park),2025-09-25 22:29,3.0,46.166141,-123.016334,True,False,True,S275428083,NaN
3,eucdov,Tórtola Turca,Streptopelia decaocto,L51167893,Home (BackYard/Park),2025-09-25 22:29,5.0,46.166141,-123.016334,True,False,True,S275428083,N
4,cowscj1,Chara Californiana,Aphelocoma californica,L51167893,Home (BackYard/Park),2025-09-25 22:29,3.0,46.166141,-123.016334,True,False,True,S275428083,NaN

In [31]:
# últimas filas
df.tail(5)

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId,exoticCategory
565,vichum,Amazilia Coronivioleta,Ramosomyia violiceps,L1416495,1. Mule Pass Yard,2025-09-25 06:00,1.0,31.464189,-109.956196,True,False,True,S275420478,NaN
566,lecthr,Cuitlacoche Pálido,Toxostoma lecontei,L53253695,"89019, Jean US-NV 35.69430, -115.35854",2025-09-25 05:59,1.0,35.694302,-115.358536,True,False,True,S275421161,NaN
567,lesnig,Añapero Garrapena,Chordeiles acutipennis,L23740774,my neighborhood,2025-09-25 05:54,2.0,33.681869,-112.391846,True,False,True,S275383823,NaN
568,mallar4,Ánade Azulón x Mexicano (híbrido),Anas platyrhynchos x diazi,L350281,El Rio Open Space Preserve,2025-09-25 05:53,2.0,32.392141,-111.138490,True,False,False,S275413184,NaN
569,compoo,Chotacabras Pachacua,Phalaenoptilus nuttallii,L9494786,Rock Stone Home,2025-09-25 05:52,1.0,33.270955,-116.988792,True,False,True,S275376021,NaN

In [32]:
# tipos de datos, nulos, memoria
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   speciesCode      570 non-null    object
 1   comName          570 non-null    object
 2   sciName          570 non-null    object
 3   locId            570 non-null    object
 4   locName          570 non-null    object
 5   obsDt            570 non-null    object
 6   howMany          565 non-null    float64
 7   lat              570 non-null    float64
 8   lng              570 non-null    float64
 9   obsValid         570 non-null    bool
 10  obsReviewed      570 non-null    bool
 11  locationPrivate  570 non-null    bool
 12  subId            570 non-null    object
 13  exoticCategory   44 non-null     object
dtypes: bool(3), float64(3), object(8)
memory usage: 50.8+ KB

In [33]:
# (filas, columnas)
df.shape

(570, 14)

In [34]:
# lista de columnas
df.columns.tolist()

['speciesCode',
 'comName',
 'sciName',
 'locId',
 'locName',
 'obsDt',
 'howMany',
 'lat',
 'lng',
 'obsValid',
 'obsReviewed',
 'locationPrivate',
 'subId',
 'exoticCategory']

In [35]:
# todas las columnas
df.describe(include="all")

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId,exoticCategory
count,570,570,570,570,570,570,565.000000,570.000000,570.000000,570,570,570,570,44
unique,570,570,570,382,379,258,NaN,NaN,NaN,1,2,2,386,3
top,eursta,Estornino Pinto,Sturnus vulgaris,L861990,Grassy Waters Nature Preserve--North,2025-09-25 13:42,NaN,NaN,NaN,True,False,False,S275430858,N
freq,1,1,1,9,9,11,NaN,NaN,NaN,570,563,308,9,31
mean,NaN,NaN,NaN,NaN,NaN,NaN,9.079646,36.887629,-96.016247,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,87.440937,7.327992,19.396980,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,21.922776,-159.484153,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,30.409298,-111.011402,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,37.684864,-94.634354,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,41.827949,-80.212083,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,2000.000000,70.128616,-67.903233,NaN,NaN,NaN,NaN,NaN

In [36]:
# nulos por columna
df.isnull().sum()

speciesCode          0
comName              0
sciName              0
locId                0
locName              0
obsDt                0
howMany              5
lat                  0
lng                  0
obsValid             0
obsReviewed          0
locationPrivate      0
subId                0
exoticCategory     526
dtype: int64

In [37]:
# strings vacíos
(df == "").sum()

speciesCode        0
comName            0
sciName            0
locId              0
locName            0
obsDt              0
howMany            0
lat                0
lng                0
obsValid           0
obsReviewed        0
locationPrivate    0
subId              0
exoticCategory     0
dtype: int64

In [54]:
# equivalente
df.isna().sum()

speciesCode          0
comName              0
sciName              0
locId                0
locName              0
obsDt                0
howMany              5
lat                  0
lng                  0
obsValid             0
obsReviewed          0
locationPrivate      0
subId                0
exoticCategory     531
dtype: int64

In [38]:
# número de filas duplicadas
df.duplicated().sum()

np.int64(0)

In [39]:
# valores únicos por columna
df.nunique()

speciesCode        570
comName            570
sciName            570
locId              382
locName            379
obsDt              258
howMany             37
lat                382
lng                382
obsValid             1
obsReviewed          2
locationPrivate      2
subId              386
exoticCategory       3
dtype: int64

In [40]:
pd.to_datetime(df["obsDt"], errors="coerce").head()

0   2025-09-25 22:29:00
1   2025-09-25 22:29:00
2   2025-09-25 22:29:00
3   2025-09-25 22:29:00
4   2025-09-25 22:29:00
Name: obsDt, dtype: datetime64[ns]

In [41]:
df["exoticCategory"].value_counts(dropna=False)

exoticCategory
NaN    526
N       31
P        9
X        4
Name: count, dtype: int64

In [42]:
# Filtrar observaciones inválidas
invalid_obs = df[df["obsValid"] == False]
# Mostrar cuántas son
print(f"Observaciones inválidas: {len(invalid_obs)}")

Observaciones inválidas: 0

In [43]:
# Verificar nulos en howMany
df["howMany"].isnull().sum()

np.int64(5)

In [44]:
# Ver cuántos valores tienen decimales en howMany
decimales = df["howMany"] % 1 != 0
cantidad_con_decimales = decimales.sum()

print(f"Cantidad de registros con decimales en 'howMany': {cantidad_con_decimales}")
if cantidad_con_decimales > 0:
    print("Ejemplos con decimales:")
    print(df.loc[decimales, "howMany"].head())
else:
    print("Todos los valores en 'howMany' son enteros.")

Cantidad de registros con decimales en 'howMany': 5
Ejemplos con decimales:
5     NaN
232   NaN
254   NaN
405   NaN
528   NaN
Name: howMany, dtype: float64

In [45]:
# Verificar si existen ceros explícitos
df[df["howMany"] == 0].shape[0]

0

In [46]:
# Conteo de valores en obsReviewed
df["obsReviewed"].value_counts(dropna=False)

obsReviewed
False    563
True       7
Name: count, dtype: int64

In [48]:
# Decisión: eliminar registros con howMany nulo o igual a 0
# Eliminar valores no finitos en howMany (NaN, inf, -inf)
df = df[pd.to_numeric(df["howMany"], errors="coerce").notnull()]
df = df[df["howMany"] > 0]
# Justificación: howMany representa un conteo entero de individuos observados no float.
# Se eliminan previamente los NaN y valores inconsistentes.
df["howMany"] = df["howMany"].astype(int)

In [49]:
# Eliminar columnas irrelevantes
# locName: es un campo libre definido por los usuarios (ej. “Mi balcón”), no estandarizado ni útil para análisis reproducibles.
# exoticCategory: presenta valores nulos en la mayoría de los registros y no aporta información relevante para el objetivo del análisis.
# locationPrivate: indica si la ubicación es privada, pero no es relevante para el análisis de especies de aves en chile.
# obsReviewed: indica si la observación fue revisada manualmente por un experto; en este análisis no aporta valor adicional,
#              ya que nos quedamos con la validación automática (obsValid) como criterio de calidad.
cols_to_drop = ["locName", "exoticCategory", "locationPrivate", "obsReviewed"]
df_clean = df.drop(columns=cols_to_drop)
df_clean.head()

,speciesCode,comName,sciName,locId,obsDt,howMany,lat,lng,obsValid,subId
0,eursta,Estornino Pinto,Sturnus vulgaris,L51167893,2025-09-25 22:29,10,46.166141,-123.016334,True,S275428083
1,amecro,Cuervo Americano,Corvus brachyrhynchos,L51167893,2025-09-25 22:29,2,46.166141,-123.016334,True,S275428083
2,houfin,Camachuelo Mexicano,Haemorhous mexicanus,L51167893,2025-09-25 22:29,3,46.166141,-123.016334,True,S275428083
3,eucdov,Tórtola Turca,Streptopelia decaocto,L51167893,2025-09-25 22:29,5,46.166141,-123.016334,True,S275428083
4,cowscj1,Chara Californiana,Aphelocoma californica,L51167893,2025-09-25 22:29,3,46.166141,-123.016334,True,S275428083