In [31]:
import json
import pandas as pd
from pathlib import Path

In [60]:
NOTEBOOK_DIR = Path().resolve()
BASE_DIR = NOTEBOOK_DIR.parent
RAW_DATA_DIR = BASE_DIR / "data" / "raw"

In [64]:
# Listar archivos JSON en data/raw
raw_files = sorted(RAW_DATA_DIR.glob("*.json"))
raw_files[-5:]

[PosixPath('/home/billie/Programación/Python/ebird_data/data/raw/ebird_CL_20250925_164236.json')]

In [65]:
# Tomar el último archivo crudo
latest_file = raw_files[-1]
print(f"Usando archivo: {latest_file}")
with open(latest_file, "r", encoding="utf-8") as f:
    raw_data = json.load(f)
df = pd.DataFrame(raw_data)

Usando archivo: /home/billie/Programación/Python/ebird_data/data/raw/ebird_CL_20250925_164236.json

In [44]:
# Primeras filas
df.head(10)

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId,exoticCategory
0,houspa,Gorrión Común,Passer domesticus,L23993146,CCR La Pintana,2025-09-25 14:41,6,-33.585376,-70.635849,True,False,False,S275429510,N
1,rocpig,Paloma Bravía,Columba livia,L23993146,CCR La Pintana,2025-09-25 14:41,1,-33.585376,-70.635849,True,False,False,S275429510,N
2,rucspa1,Chingolo Común,Zonotrichia capensis,L23993146,CCR La Pintana,2025-09-25 14:41,1,-33.585376,-70.635849,True,False,False,S275429510,NaN
3,austhr1,Zorzal Patagón,Turdus falcklandii,L23993146,CCR La Pintana,2025-09-25 14:41,2,-33.585376,-70.635849,True,False,False,S275429510,NaN
4,houwre4,Chochín Criollo Sureño,Troglodytes musculus,L23993146,CCR La Pintana,2025-09-25 14:41,1,-33.585376,-70.635849,True,False,False,S275429510,NaN
5,greegr,Garceta Grande,Ardea alba,L1020637,Brisa del Sol,2025-09-25 14:40,1,-36.770441,-73.069829,True,False,False,S275429727,NaN
6,refcoo1,Focha Frentirroja,Fulica rufifrons,L1020637,Brisa del Sol,2025-09-25 14:40,5,-36.770441,-73.069829,True,False,False,S275429727,NaN
7,soulap1,Avefría Tero,Vanellus chilensis,L1020637,Brisa del Sol,2025-09-25 14:40,3,-36.770441,-73.069829,True,False,False,S275429727,NaN
8,chiswa1,Golondrina Chilena,Tachycineta leucopyga,L1020637,Brisa del Sol,2025-09-25 14:40,1,-36.770441,-73.069829,True,False,False,S275429727,NaN
9,kelgul,Gaviota Cocinera,Larus dominicanus,L1020637,Brisa del Sol,2025-09-25 14:40,3,-36.770441,-73.069829,True,False,False,S275429727,NaN

In [41]:
# últimas filas
df.tail(10)

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId,exoticCategory
176,chisku1,Págalo Chileno,Stercorarius chilensis,L6598526,Parque del Estrecho,2025-09-24 17:20,2,-53.632387,-70.917054,True,False,True,S275313442,NaN
177,bkbalb,Albatros Ojeroso,Thalassarche melanophris,L6598526,Parque del Estrecho,2025-09-24 17:20,1,-53.632387,-70.917054,True,False,True,S275313442,NaN
178,souful1,Fulmar Austral,Fulmarus glacialoides,L6598526,Parque del Estrecho,2025-09-24 17:20,2,-53.632387,-70.917054,True,False,True,S275313442,NaN
179,eleter1,Charrán Elegante,Thalasseus elegans,L504553,SN Humedal Río Maipo--Desembocadura,2025-09-24 16:20,8,-33.619801,-71.627544,True,False,False,S275289988,NaN
180,soater1,Charrán Sudamericano,Sterna hirundinacea,L504553,SN Humedal Río Maipo--Desembocadura,2025-09-24 16:20,40,-33.619801,-71.627544,True,False,False,S275289988,NaN
181,siltea1,Cerceta Capuchina,Spatula versicolor,L504553,SN Humedal Río Maipo--Desembocadura,2025-09-24 16:20,1,-33.619801,-71.627544,True,False,False,S275289988,NaN
182,semsan,Correlimos Semipalmeado,Calidris pusilla,L504553,SN Humedal Río Maipo--Desembocadura,2025-09-24 16:20,12,-33.619801,-71.627544,True,False,False,S275289988,NaN
183,elctin1,Martineta Común,Eudromia elegans,L8493771,Ruta X-753--Gruta San Sebastián,2025-09-24 16:10,3,-46.650922,-71.684497,True,False,False,S275311243,NaN
184,patmoc1,Sinsonte Patagón,Mimus patagonicus,L8493771,Ruta X-753--Gruta San Sebastián,2025-09-24 16:10,1,-46.650922,-71.684497,True,False,False,S275311243,NaN
185,twbplo1,Chorlitejo Malvinero,Anarhynchus falklandicus,L53233073,"6210459, Torres del Paine CL-Región de Magalla...",2025-09-24 15:48,1,-50.995255,-72.740224,True,False,True,S275319819,NaN

In [46]:
# tipos de datos, nulos, memoria
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   speciesCode      186 non-null    object
 1   comName          186 non-null    object
 2   sciName          186 non-null    object
 3   locId            186 non-null    object
 4   locName          186 non-null    object
 5   obsDt            186 non-null    object
 6   howMany          186 non-null    int64
 7   lat              186 non-null    float64
 8   lng              186 non-null    float64
 9   obsValid         186 non-null    bool
 10  obsReviewed      186 non-null    bool
 11  locationPrivate  186 non-null    bool
 12  subId            186 non-null    object
 13  exoticCategory   6 non-null      object
dtypes: bool(3), float64(2), int64(1), object(8)
memory usage: 16.7+ KB

In [35]:
# (filas, columnas)
df.shape

(186, 14)

In [36]:
# lista de columnas
df.columns.tolist()

['speciesCode',
 'comName',
 'sciName',
 'locId',
 'locName',
 'obsDt',
 'howMany',
 'lat',
 'lng',
 'obsValid',
 'obsReviewed',
 'locationPrivate',
 'subId',
 'exoticCategory']

In [67]:
# todas las columnas
df.describe(include="all")

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId,exoticCategory
count,186,186,186,186,186,186,186.000000,186.000000,186.000000,186,186,186,186,6
unique,186,186,186,63,63,65,NaN,NaN,NaN,1,2,2,66,2
top,houspa,Gorrión Común,Passer domesticus,L551450,SN Laguna El Peral,2025-09-25 14:10,NaN,NaN,NaN,True,False,False,S275428598,N
freq,1,1,1,22,22,22,NaN,NaN,NaN,186,184,134,22,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,6.892473,-34.824417,-71.568185,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,19.888860,8.165039,1.108160,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,-53.632387,-73.271584,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,-38.459172,-72.498200,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,-33.505215,-71.607154,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,-33.018029,-70.637157,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,200.000000,-18.250885,-69.176105,NaN,NaN,NaN,NaN,NaN

In [10]:
# nulos por columna
df.isnull().sum()

speciesCode          0
comName              0
sciName              0
locId                0
locName              0
obsDt                0
howMany              0
lat                  0
lng                  0
obsValid             0
obsReviewed          0
locationPrivate      0
subId                0
exoticCategory     180
dtype: int64

In [11]:
# strings vacíos
(df == "").sum()

speciesCode        0
comName            0
sciName            0
locId              0
locName            0
obsDt              0
howMany            0
lat                0
lng                0
obsValid           0
obsReviewed        0
locationPrivate    0
subId              0
exoticCategory     0
dtype: int64

In [12]:
# equivalente
df.isna().sum()

speciesCode          0
comName              0
sciName              0
locId                0
locName              0
obsDt                0
howMany              0
lat                  0
lng                  0
obsValid             0
obsReviewed          0
locationPrivate      0
subId                0
exoticCategory     180
dtype: int64

In [47]:
# número de filas duplicadas
df.duplicated().sum()

np.int64(0)

In [16]:
# valores únicos por columna
df.nunique()

speciesCode        186
comName            186
sciName            186
locId               63
locName             63
obsDt               65
howMany             25
lat                 63
lng                 63
obsValid             1
obsReviewed          2
locationPrivate      2
subId               66
exoticCategory       2
dtype: int64

In [17]:
pd.to_datetime(df["obsDt"], errors="coerce").head()

0   2025-09-25 14:41:00
1   2025-09-25 14:41:00
2   2025-09-25 14:41:00
3   2025-09-25 14:41:00
4   2025-09-25 14:41:00
Name: obsDt, dtype: datetime64[ns]

In [51]:
df["exoticCategory"].value_counts(dropna=False)

exoticCategory
NaN    180
N        4
X        2
Name: count, dtype: int64

In [55]:
# Filtrar observaciones inválidas
invalid_obs = df[df["obsValid"] == False]
# Mostrar cuántas son
print(f"Observaciones inválidas: {len(invalid_obs)}")

Observaciones inválidas: 0

In [56]:
# Conteo de valores en obsReviewed
df["obsReviewed"].value_counts(dropna=False)

obsReviewed
False    184
True       2
Name: count, dtype: int64

In [57]:
# Eliminar columnas irrelevantes
# locName: es un campo libre definido por los usuarios (ej. “Mi balcón”), no estandarizado ni útil para análisis reproducibles.
# exoticCategory: presenta valores nulos en la mayoría de los registros y no aporta información relevante para el objetivo del análisis.
# locationPrivate: indica si la ubicación es privada, pero no es relevante para el análisis de especies de aves en chile.
# obsReviewed: indica si la observación fue revisada manualmente por un experto; en este análisis no aporta valor adicional,
#              ya que nos quedamos con la validación automática (obsValid) como criterio de calidad.
cols_to_drop = ["locName", "exoticCategory", "locationPrivate", "obsReviewed"]
df_clean = df.drop(columns=cols_to_drop)
df_clean.head()

,speciesCode,comName,sciName,locId,obsDt,howMany,lat,lng,obsValid,subId
0,houspa,Gorrión Común,Passer domesticus,L23993146,2025-09-25 14:41,6,-33.585376,-70.635849,True,S275429510
1,rocpig,Paloma Bravía,Columba livia,L23993146,2025-09-25 14:41,1,-33.585376,-70.635849,True,S275429510
2,rucspa1,Chingolo Común,Zonotrichia capensis,L23993146,2025-09-25 14:41,1,-33.585376,-70.635849,True,S275429510
3,austhr1,Zorzal Patagón,Turdus falcklandii,L23993146,2025-09-25 14:41,2,-33.585376,-70.635849,True,S275429510
4,houwre4,Chochín Criollo Sureño,Troglodytes musculus,L23993146,2025-09-25 14:41,1,-33.585376,-70.635849,True,S275429510