In [42]:
import json
import pandas as pd
from pathlib import Path

In [43]:
# Listar archivos JSON en data/raw
raw_files = sorted(RAW_DATA_DIR.glob("*.json"))
raw_files[-5:]

[PosixPath('/home/billie/Programación/Python/ebird_data/data/raw/ebird_CL_20250925_164236.json'),
 PosixPath('/home/billie/Programación/Python/ebird_data/data/raw/ebird_US_20250925_191441.json')]

In [44]:
# Tomar el último archivo crudo
latest_file = raw_files[-1]
print(f"Usando archivo: {latest_file}")
with open(latest_file, "r", encoding="utf-8") as f:
    raw_data = json.load(f)
df = pd.DataFrame(raw_data)

Usando archivo: /home/billie/Programación/Python/ebird_data/data/raw/ebird_US_20250925_191441.json

In [45]:
NOTEBOOK_DIR = Path().resolve()
BASE_DIR = NOTEBOOK_DIR.parent
RAW_DATA_DIR = BASE_DIR / "data" / "raw"

In [66]:
# Primeras filas
df.head(50)

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId,exoticCategory
0,eucdov,Tórtola Turca,Streptopelia decaocto,L51167893,Home (BackYard/Park),2025-09-25 22:29,5.0,46.166141,-123.016334,True,False,True,S275428083,N
1,amecro,Cuervo Americano,Corvus brachyrhynchos,L51167893,Home (BackYard/Park),2025-09-25 22:29,2.0,46.166141,-123.016334,True,False,True,S275428083,NaN
2,eursta,Estornino Pinto,Sturnus vulgaris,L51167893,Home (BackYard/Park),2025-09-25 22:29,10.0,46.166141,-123.016334,True,False,True,S275428083,N
3,cowscj1,Chara Californiana,Aphelocoma californica,L51167893,Home (BackYard/Park),2025-09-25 22:29,3.0,46.166141,-123.016334,True,False,True,S275428083,NaN
4,houfin,Camachuelo Mexicano,Haemorhous mexicanus,L51167893,Home (BackYard/Park),2025-09-25 22:29,3.0,46.166141,-123.016334,True,False,True,S275428083,NaN
5,blujay,Chara Azul,Cyanocitta cristata,L20253199,Virginia Ridge,2025-09-25 13:57,5.0,37.233173,-79.817694,True,False,True,S275430841,NaN
7,belkin1,Martín Gigante Norteamericano,Megaceryle alcyon,L4069268,Ghost Pond,2025-09-25 13:57,2.0,42.674814,-78.368185,True,False,False,S275430885,NaN
8,ribgul,Gaviota de Delaware,Larus delawarensis,L481406,"Nauset Light Beach, Eastham",2025-09-25 13:56,5.0,41.858630,-69.951732,True,False,False,S275430876,NaN
9,whwsco2,Negrón Aliblanco,Melanitta deglandi,L481406,"Nauset Light Beach, Eastham",2025-09-25 13:56,5.0,41.858630,-69.951732,True,False,False,S275430876,NaN
10,comter,Charrán Común,Sterna hirundo,L481406,"Nauset Light Beach, Eastham",2025-09-25 13:56,7.0,41.858630,-69.951732,True,False,False,S275430876,NaN
11,forter,Charrán de Forster,Sterna forsteri,L481406,"Nauset Light Beach, Eastham",2025-09-25 13:56,1.0,41.858630,-69.951732,True,False,False,S275430876,NaN
12,grycat,Pájaro Gato Gris,Dumetella carolinensis,L481406,"Nauset Light Beach, Eastham",2025-09-25 13:56,2.0,41.858630,-69.951732,True,False,False,S275430876,NaN
13,amhgul1,Gaviota Argéntea Americana,Larus smithsonianus,L481406,"Nauset Light Beach, Eastham",2025-09-25 13:56,16.0,41.858630,-69.951732,True,False,False,S275430876,NaN
14,laugul,Gaviota Guanaguanare,Leucophaeus atricilla,L481406,"Nauset Light Beach, Eastham",2025-09-25 13:56,14.0,41.858630,-69.951732,True,False,False,S275430876,NaN
15,mallar3,Ánade Azulón,Anas platyrhynchos,L53255854,"Lakeside Drive, New Shoreham, Rhode Island, US...",2025-09-25 13:53,8.0,41.163049,-71.579229,True,False,True,S275430658,NaN
16,carwre,Cucarachero de Carolina,Thryothorus ludovicianus,L53255787,"6632 Harris Road, Broadview Heights, Ohio, US ...",2025-09-25 13:53,1.0,41.320957,-81.642348,True,False,True,S275430397,NaN
17,moudov,Zenaida Huilota,Zenaida macroura,L53255854,"Lakeside Drive, New Shoreham, Rhode Island, US...",2025-09-25 13:53,6.0,41.163049,-71.579229,True,False,True,S275430658,NaN
18,ambduc,Ánade Sombrío,Anas rubripes,L53255854,"Lakeside Drive, New Shoreham, Rhode Island, US...",2025-09-25 13:53,1.0,41.163049,-71.579229,True,False,True,S275430658,NaN
19,amebit,Avetoro Lentiginoso,Botaurus lentiginosus,L2818209,Loch Raven Reservoir--Warren Flats,2025-09-25 13:52,1.0,39.488926,-76.611019,True,False,False,S275430728,NaN
20,greegr,Garceta Grande,Ardea alba,L2818209,Loch Raven Reservoir--Warren Flats,2025-09-25 13:52,1.0,39.488926,-76.611019,True,False,False,S275430728,NaN
21,rthhum,Colibrí Gorjirrubí,Archilochus colubris,L29609924,Carolina Hobbies,2025-09-25 13:50,4.0,35.999481,-78.787726,True,False,True,S275429900,NaN
22,amerob,Zorzal Americano,Turdus migratorius,L53247374,"1205 Beal Avenue, Ann Arbor, Michigan, US (42....",2025-09-25 13:50,1.0,42.290572,-83.712595,True,False,True,S275430141,NaN
23,norfli,Carpintero Escapulario,Colaptes auratus,L10327312,Millhurst Pond & Thompson Grove Park,2025-09-25 13:50,2.0,40.245430,-74.340588,True,False,False,S275430140,NaN
24,bkbplo,Chorlito Gris,Pluvialis squatarola,L10327312,Millhurst Pond & Thompson Grove Park,2025-09-25 13:50,1.0,40.245430,-74.340588,True,False,False,S275430140,NaN
25,wooduc,Pato Joyuyo,Aix sponsa,L10327312,Millhurst Pond & Thompson Grove Park,2025-09-25 13:50,4.0,40.245430,-74.340588,True,False,False,S275430140,NaN
26,rosspo1,Espátula Rosada,Platalea ajaja,L53255796,"Cypress Parkway, Kissimmee, Florida, US (28.14...",2025-09-25 13:49,8.0,28.142592,-81.499816,True,False,True,S275430433,NaN
27,snoegr,Garceta Nívea,Egretta thula,L53255796,"Cypress Parkway, Kissimmee, Florida, US (28.14...",2025-09-25 13:49,2.0,28.142592,-81.499816,True,False,True,S275430433,NaN
28,coohaw,Gavilán de Cooper,Astur cooperii,L53255778,"Rest stop- US-30 E, Convoy US-OH 40.90956, -84...",2025-09-25 13:48,1.0,40.909561,-84.662409,True,False,True,S275430373,NaN
29,turvul,Aura Gallipavo,Cathartes aura,L53255778,"Rest stop- US-30 E, Convoy US-OH 40.90956, -84...",2025-09-25 13:48,4.0,40.909561,-84.662409,True,False,True,S275430373,NaN
30,whbnut,Trepador Pechiblanco,Sitta carolinensis,L53255778,"Rest stop- US-30 E, Convoy US-OH 40.90956, -84...",2025-09-25 13:48,1.0,40.909561,-84.662409,True,False,True,S275430373,NaN
31,rebwoo,Carpintero de Carolina,Melanerpes carolinus,L1017984,'PA - Delaware - my yard,2025-09-25 13:47,1.0,39.879305,-75.503309,True,False,True,S275430665,NaN
32,amered,Candelita Norteña,Setophaga ruticilla,L1017984,'PA - Delaware - my yard,2025-09-25 13:47,1.0,39.879305,-75.503309,True,False,True,S275430665,NaN
33,norpar,Parula Norteña,Setophaga americana,L1017984,'PA - Delaware - my yard,2025-09-25 13:47,1.0,39.879305,-75.503309,True,False,True,S275430665,NaN
34,magwar,Reinita de Magnolia,Setophaga magnolia,L1017984,'PA - Delaware - my yard,2025-09-25 13:47,1.0,39.879305,-75.503309,True,False,True,S275430665,NaN
35,rethaw,Busardo Colirrojo,Buteo jamaicensis,L11529193,"33061 Middleboro Ave, Livonia US-MI 42.38585, ...",2025-09-25 13:47,2.0,42.385848,-83.370448,True,False,True,S275429524,NaN
36,carchi,Carbonero de Carolina,Poecile carolinensis,L1017984,'PA - Delaware - my yard,2025-09-25 13:47,2.0,39.879305,-75.503309,True,False,True,S275430665,NaN
37,rebnut,Trepador Canadiense,Sitta canadensis,L1017984,'PA - Delaware - my yard,2025-09-25 13:47,1.0,39.879305,-75.503309,True,False,True,S275430665,NaN
38,pilwoo,Picamaderos Norteamericano,Dryocopus pileatus,L53255688,Yard,2025-09-25 13:46,1.0,34.378057,-77.770625,True,False,True,S275430001,NaN
39,reshaw,Busardo Pechirrojo,Buteo lineatus,L53255688,Yard,2025-09-25 13:46,1.0,34.378057,-77.770625,True,False,True,S275430001,NaN
40,comloo,Colimbo Grande,Gavia immer,L17483860,Lakeside Park,2025-09-25 13:45,1.0,44.813752,-71.880309,True,False,False,S275429284,NaN
41,blkvul,Zopilote Negro,Coragyps atratus,L53255510,"7499 South Point Road, Berlin, Maryland, US (3...",2025-09-25 13:45,1.0,38.257226,-75.165140,True,False,True,S275429211,NaN
42,wiltur,Guajolote Gallipavo,Meleagris gallopavo,L53255838,"655 Corduroy Road, Crown Point, New York, US (...",2025-09-25 13:44,17.0,43.920741,-73.539949,True,False,True,S275430583,NaN
43,buggna,Perlita Grisilla,Polioptila caerulea,L861990,Grassy Waters Nature Preserve--North,2025-09-25 13:43,2.0,26.815280,-80.173513,True,False,False,S275430858,NaN
44,amekes,Cernícalo Americano,Falco sparverius,L861990,Grassy Waters Nature Preserve--North,2025-09-25 13:43,1.0,26.815280,-80.173513,True,False,False,S275430858,NaN
45,comgra,Zanate Común,Quiscalus quiscula,L861990,Grassy Waters Nature Preserve--North,2025-09-25 13:43,5.0,26.815280,-80.173513,True,False,False,S275430858,NaN
46,grbher3,Garza Azulada,Ardea herodias,L861990,Grassy Waters Nature Preserve--North,2025-09-25 13:43,1.0,26.815280,-80.173513,True,False,False,S275430858,NaN
47,normoc,Sinsonte Norteño,Mimus polyglottos,L861990,Grassy Waters Nature Preserve--North,2025-09-25 13:43,1.0,26.815280,-80.173513,True,False,False,S275430858,NaN
48,comgal1,Gallineta Americana,Gallinula galeata,L861990,Grassy Waters Nature Preserve--North,2025-09-25 13:43,2.0,26.815280,-80.173513,True,False,False,S275430858,NaN
49,rewbla,Sargento Alirrojo,Agelaius phoeniceus,L861990,Grassy Waters Nature Preserve--North,2025-09-25 13:43,1.0,26.815280,-80.173513,True,False,False,S275430858,NaN
50,osprey,Águila Pescadora,Pandion haliaetus,L861990,Grassy Waters Nature Preserve--North,2025-09-25 13:43,1.0,26.815280,-80.173513,True,False,False,S275430858,NaN

In [47]:
# últimas filas
df.tail(10)

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId,exoticCategory
567,lesnig,Añapero Garrapena,Chordeiles acutipennis,L23740774,my neighborhood,2025-09-25 05:54,2.0,33.681869,-112.391846,True,False,True,S275383823,NaN
568,mallar4,Ánade Azulón x Mexicano (híbrido),Anas platyrhynchos x diazi,L350281,El Rio Open Space Preserve,2025-09-25 05:53,2.0,32.392141,-111.138490,True,False,False,S275413184,NaN
569,compoo,Chotacabras Pachacua,Phalaenoptilus nuttallii,L9494786,Rock Stone Home,2025-09-25 05:52,1.0,33.270955,-116.988792,True,False,True,S275376021,NaN
570,x00776,Ánsar Común x Cisnal (híbrido),Anser anser x cygnoides,L299578,Decker Lake,2025-09-24 19:17,1.0,40.711401,-111.948802,True,False,False,S275325624,X
571,chukar,Perdiz Chucar,Alectoris chukar,L483770,Toats Coulee,2025-09-24 19:05,9.0,48.842238,-119.707203,True,False,False,S275325307,N
572,x00442,Tirano Occidental x Tijereta Rosada (híbrido),Tyrannus verticalis x forficatus,L14075669,Mockingbird Hill,2025-09-24 18:51,1.0,33.298700,-97.792309,True,True,True,S275332729,NaN
573,bubsan,Correlimos Canelo,Calidris subruficollis,L604728,Fort Monroe,2025-09-24 18:50,1.0,37.003941,-76.307387,True,True,False,S275314770,NaN
574,rinkin1,Martín Gigante Neotropical,Megaceryle torquata,L30417560,Fort Clark Springs—Las Moras Creek Trails NE (...,2025-09-24 18:46,1.0,29.298098,-100.417714,True,False,False,S275318986,NaN
575,sheowl,Búho Campestre,Asio flammeus,L53235703,"1418 Kohala Mountain Road, Waimea, Hawaii, US ...",2025-09-24 18:35,2.0,20.173177,-155.825844,True,False,True,S275331610,NaN
576,ridrai1,Rascón de Ridgway,Rallus obsoletus,L161083,MLK Jr. Regional Shoreline--Arrowhead Marsh,2025-09-24 18:31,4.0,37.742163,-122.211227,True,False,False,S275331449,NaN

In [48]:
# tipos de datos, nulos, memoria
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   speciesCode      577 non-null    object
 1   comName          577 non-null    object
 2   sciName          577 non-null    object
 3   locId            577 non-null    object
 4   locName          577 non-null    object
 5   obsDt            577 non-null    object
 6   howMany          572 non-null    float64
 7   lat              577 non-null    float64
 8   lng              577 non-null    float64
 9   obsValid         577 non-null    bool
 10  obsReviewed      577 non-null    bool
 11  locationPrivate  577 non-null    bool
 12  subId            577 non-null    object
 13  exoticCategory   46 non-null     object
dtypes: bool(3), float64(3), object(8)
memory usage: 51.4+ KB

In [49]:
# (filas, columnas)
df.shape

(577, 14)

In [50]:
# lista de columnas
df.columns.tolist()

['speciesCode',
 'comName',
 'sciName',
 'locId',
 'locName',
 'obsDt',
 'howMany',
 'lat',
 'lng',
 'obsValid',
 'obsReviewed',
 'locationPrivate',
 'subId',
 'exoticCategory']

In [51]:
# todas las columnas
df.describe(include="all")

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId,exoticCategory
count,577,577,577,577,577,577,572.000000,577.000000,577.000000,577,577,577,577,46
unique,577,577,577,389,386,265,NaN,NaN,NaN,1,2,2,393,3
top,eucdov,Tórtola Turca,Streptopelia decaocto,L861990,Grassy Waters Nature Preserve--North,2025-09-25 13:42,NaN,NaN,NaN,True,False,False,S275430858,N
freq,1,1,1,9,9,11,NaN,NaN,NaN,577,568,313,9,32
mean,NaN,NaN,NaN,NaN,NaN,NaN,9.001748,36.868316,-96.210522,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,86.906667,7.343614,19.523394,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,20.173177,-159.484153,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,30.378956,-111.021606,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,37.628252,-94.818285,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,41.778926,-80.212083,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,2000.000000,70.128616,-67.903233,NaN,NaN,NaN,NaN,NaN

In [52]:
# nulos por columna
df.isnull().sum()

speciesCode          0
comName              0
sciName              0
locId                0
locName              0
obsDt                0
howMany              5
lat                  0
lng                  0
obsValid             0
obsReviewed          0
locationPrivate      0
subId                0
exoticCategory     531
dtype: int64

In [53]:
# strings vacíos
(df == "").sum()

speciesCode        0
comName            0
sciName            0
locId              0
locName            0
obsDt              0
howMany            0
lat                0
lng                0
obsValid           0
obsReviewed        0
locationPrivate    0
subId              0
exoticCategory     0
dtype: int64

In [54]:
# equivalente
df.isna().sum()

speciesCode          0
comName              0
sciName              0
locId                0
locName              0
obsDt                0
howMany              5
lat                  0
lng                  0
obsValid             0
obsReviewed          0
locationPrivate      0
subId                0
exoticCategory     531
dtype: int64

In [35]:
# número de filas duplicadas
df.duplicated().sum()

np.int64(0)

In [36]:
# valores únicos por columna
df.nunique()

speciesCode        577
comName            577
sciName            577
locId              389
locName            386
obsDt              265
howMany             37
lat                389
lng                389
obsValid             1
obsReviewed          2
locationPrivate      2
subId              393
exoticCategory       3
dtype: int64

In [37]:
pd.to_datetime(df["obsDt"], errors="coerce").head()

0   2025-09-25 22:29:00
1   2025-09-25 22:29:00
2   2025-09-25 22:29:00
3   2025-09-25 22:29:00
4   2025-09-25 22:29:00
Name: obsDt, dtype: datetime64[ns]

In [38]:
df["exoticCategory"].value_counts(dropna=False)

exoticCategory
NaN    531
N       32
P        9
X        5
Name: count, dtype: int64

In [39]:
# Filtrar observaciones inválidas
invalid_obs = df[df["obsValid"] == False]
# Mostrar cuántas son
print(f"Observaciones inválidas: {len(invalid_obs)}")

Observaciones inválidas: 0

In [57]:
# Verificar nulos en howMany
df["howMany"].isnull().sum()

np.int64(5)

In [ ]:
# Verificar si existen ceros explícitos
df[df["howMany"] == 0].shape[0]

0

In [40]:
# Conteo de valores en obsReviewed
df["obsReviewed"].value_counts(dropna=False)

obsReviewed
False    568
True       9
Name: count, dtype: int64

In [62]:
# Decisión: eliminar registros con howMany nulo o igual a 0
df = df.dropna(subset=["howMany"])
df = df[df["howMany"] > 0]
# Confirmar que ya no existen nulos ni ceros
print("Nulos en howMany:", df["howMany"].isnull().sum())
print("Registros con howMany == 0:", (df["howMany"] == 0).sum())

Nulos en howMany: 0
Registros con howMany == 0: 0

In [63]:
# Eliminar columnas irrelevantes
# locName: es un campo libre definido por los usuarios (ej. “Mi balcón”), no estandarizado ni útil para análisis reproducibles.
# exoticCategory: presenta valores nulos en la mayoría de los registros y no aporta información relevante para el objetivo del análisis.
# locationPrivate: indica si la ubicación es privada, pero no es relevante para el análisis de especies de aves en chile.
# obsReviewed: indica si la observación fue revisada manualmente por un experto; en este análisis no aporta valor adicional,
#              ya que nos quedamos con la validación automática (obsValid) como criterio de calidad.
cols_to_drop = ["locName", "exoticCategory", "locationPrivate", "obsReviewed"]
df_clean = df.drop(columns=cols_to_drop)
df_clean.head()

,speciesCode,comName,sciName,locId,obsDt,howMany,lat,lng,obsValid,subId
0,eucdov,Tórtola Turca,Streptopelia decaocto,L51167893,2025-09-25 22:29,5.0,46.166141,-123.016334,True,S275428083
1,amecro,Cuervo Americano,Corvus brachyrhynchos,L51167893,2025-09-25 22:29,2.0,46.166141,-123.016334,True,S275428083
2,eursta,Estornino Pinto,Sturnus vulgaris,L51167893,2025-09-25 22:29,10.0,46.166141,-123.016334,True,S275428083
3,cowscj1,Chara Californiana,Aphelocoma californica,L51167893,2025-09-25 22:29,3.0,46.166141,-123.016334,True,S275428083
4,houfin,Camachuelo Mexicano,Haemorhous mexicanus,L51167893,2025-09-25 22:29,3.0,46.166141,-123.016334,True,S275428083